*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(./img/backgroundo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.fogo{
    
    width: 170px;
    height: 130px;
    border-radius: 15px;
    cursor: pointer;
    border:none;
    background-image:url("img/fogoest.jpg");
    background-size: cover;
    transition: background-image 0.7s ease;   
}
.fogo:hover{
    background-image:url("img/fogogif.gif");  
}
.agua{ 
   
    width: 170px;
    height: 130px;
    border-radius: 15px;
    cursor: pointer;
    border:none;
    background-image:url("img/aguaest.jpg");
    background-size: cover;
    transition: background-image 0.7s ease; 
}
.agua:hover{
    background-image:url("img/aguagif.gif");  
}
.terra{
    
    width: 170px;
    height: 130px;
    border-radius: 15px;
    cursor: pointer;
    border:none;
    background-image:url("img/terraest.jpg");
    background-size: cover;
    transition: background-image 0.7s ease; /* Adicione uma transição suave */
        /* Quando o mouse passar sobre o botão, altere a imagem de fundo */   
}
.terra:hover {
    background-image:url("img/terragif.gif"); 
}
/*.ar{
    
    width: 170px;
    height: 130px;
    border-radius: 15px;
    cursor: pointer;
    border:none;
    background-image:url("img/arest.jpg");
    background-size: cover;
    transition: background-image 0.7s ease;   
}
.ar:hover{
    background-image:url("img/argif.gif");  
}*/
P{
    font-weight: bold;
    font-size: 30PX;
    text-align: center;
}
.machine-score{
    margin-bottom: 20px;
}   
.result{
   font-size: 40PX; 
}
h1{ 
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
.buttons{
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: center;
}
.your-score span {
    color: blue;
}
.machine-score span{
    color:red
}
@media screen and (min-width: 440px){
.container
{
    width: 330px;  
} 
}
